@using FitnessApp.Core.Models
@using System.Security.Claims;
@model IEnumerable<DisplayeUsersModel>

@{
    ViewBag.Title = "ВСИЧКИ ТРЕНЬОРИ";
}



<style>
    body {
        background-image: url('https://coolwallpapers.me/picsup/5688017-dark-grey-wallpapers.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>



<h1 class="text-center fw-bolder text-white">@ViewBag.Title</h1>
<hr />


<div class="text-center row">
    @foreach (var user in Model)
    {
        <div class="col-sm-3">
            <div class="card col-4 ml-20" style="width: 20rem; background-color:#DCDCDC;">
                <div class="align-items-center">
                    <img src="@user.ProfileImageURL"
                     alt=""
                     width="300"
                     height="263"
                     class="alignnone size-medium wp-image-560930" />
                </div>
                <div class="card-body">

                    <h3 class="card-title mt-1">@user.Role</h3>
                    <p class="mb-0 fw-bold">Име: @user.FirstName</p>
                    <p class="mb-0 fw-bold">Фамилия: @user.LastName</p>
                    <p class="mb-0 fw-bold">Години: @user.Age</p>
                    <p class="mb-0 fw-bold">Потребителско име: @user.UserName</p>
                    <p class="mb-0 fw-bold">Имейл: @user.Email</p>
                    <p class="mb-0 fw-bold">Телефон: @user.PhoneNumber</p>
                </div>
            </div>
            <p> </p>
        </div>
    }
</div>

