@using FitnessApp.Core.Models
@using System.Security.Claims;
@model IEnumerable<DisplayedProgramContentForCustomers>

@{
    ViewBag.Title = "ВСИЧКИ ПОГРАМИ";
}



<style>
    body {
        background-image: url('https://coolwallpapers.me/picsup/5688017-dark-grey-wallpapers.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>



<h1 class="text-center fw-bolder text-white">@ViewBag.Title</h1>
<hr />

<div class="text-center row">
    @foreach (var program in Model)
    {
        <div class="col-sm-3">
            <div class="card col-4 ml-20" style="width: 20rem; background-color:#DCDCDC;">
                <img class="card-img-top" style="width: 18rem;"
                 src="@program.ImageURL" alt="Book Image">
                <div class="card-body">

                    <h4 class="card-title mt-1">@program.Title</h4>
                    <h5 class="mb-0 fw-bold">Цена: @program.Price лв.</h5>
                    <p class="mb-0 fw-bold">Автор: @program.Author</p>
                    <p class="mb-0 fw-bold">Категория: @program.Category</p>
                </div>
                @if (this.User?.Identity != null && this.User.IsInRole("Customer"))
                {
                    @if(program.IsBought)
                    {
                        <h5 class="text-danger fw-bold">Вече закупена!</h5>
                    }
                    else
                    {
                    <form class="mt-2" asp-controller="Program" asp-action="Sell" asp-route-id="@program.ProgramId">
                    <div class="d-grid gap-2">
                    <input type="submit" value="Купи" class="btn btn-success mb-2 fw-bold" onclick="return confirm('Сигурни ли сте, че искате да закупите програма: @program.Title')" />
                    </div>
                    </form>
                    }
                }
            </div>
        </div>
    }
</div>
